<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <h2>My SeedShelf:</h2>
      <div class="card mb-4 shadow-sm" *ngFor="let seed of seedCollection; let i = index">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h2 class="card-title" style="font-size: 1.5rem;">{{seed.commonBroad}} '{{ seed.variety + (seed.subvariety ? ' ' + seed.subvariety :
              '') }}' <b>{{ seed.hybridStatus || '' }}</b></h2>
              <p class="card-subtitle mb-2 text-muted" style="font-size: 1rem;">
                {{seed.commonBroad}}
              </p>
              <p class="card-text" style="font-size: 1rem;">Debug only ID: {{seed.uid}}</p>
            </div>
            <div class="col-4">
              <img src="{{seed.imgURL}}" alt="{{seed.type}}" class="img-fluid" style="height:100%; align-self:auto;">
            </div>
          </div>
          <div class="card-footer">
            <a>
              <button class="btn btn-seedstory float-left" style="width: 30%;" (click)="onGetSpecificSeed(i)">
                View in Detail
              </button>
            </a>
            <button class="btn btn-seedstory float-right" style="width: 30%;" (click)="onRemoveSeed(i)">
              Remove From Shelf
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
