<div class="container" *ngIf="specificSeed !== undefined">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <button type="submit" class="btn btn-success">Submit</button>

    <div class="form-group">
      <label for="genus">Genus</label>
      <input type="text" id="genus" formControlName="genus" class="form-control">
    </div>

    <div class="form-group">
      <label for="species">Species</label>
      <input type="text" id="species" formControlName="species" class="form-control">
    </div>

    <div class="form-group">
      <label for="variety">Variety</label>
      <input type="text" id="variety" formControlName="variety" class="form-control">
    </div>

    <div class="form-group">
      <label for="commonBroad">Common Broad</label>
      <input type="text" id="commonBroad" formControlName="commonBroad" class="form-control">
    </div>

    <div class="form-group">
      <label for="imgURL">Image URL</label>
      <input type="text" id="imgURL" formControlName="imgURL" class="form-control">
    </div>
  </form>
</div>
