<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--ssLightGreen)">
  <a class="navbar-brand" href="http://seedstory.app">Get SeedStory</a>

<!-- //IDK, Maybe a drop Menu button here. -->

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/shelf" routerLinkActive="active">My SeedShelf</a>
      <a class="nav-item nav-link" routerLink="/search" routerLinkActive="active">Global Library</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Log Out</a>
    </div>
  </div>
</nav>
