<div>
    <div class="container">
     <div  style="text-align: center;">
     <h1>Submit a Seed Record</h1>
     </div>

      <div class="container" [formGroup]="submitSeedForm">
        <div class="row">
        <div class="col-md-4">

          <div class="form-group">
            <label for="genus">Genus*</label>
            <input type="text" id="genus" formControlName="genus" class="form-control">
          </div>

          <div class="form-group">
            <label for="species">Species*</label>
            <input type="text" id="species" formControlName="species" class="form-control">
          </div>

          <div class="form-group">
            <label for="subspecies">Subspecies</label>
            <input type="text" id="subspecies" formControlName="subspecies" class="form-control">
          </div>


          <div class="form-group">
            <label for="commonBroad">Common Broad*</label>
            <input type="text" id="commonBroad" formControlName="commonBroad" class="form-control">
          </div>

          <div class="form-group">
            <label for="commonNarrow">Common Name (Narrow)</label>
            <input type="text" id="commonNarrow" formControlName="commonNarrow" class="form-control">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="variety">Variety*</label>
            <input type="text" id="variety" formControlName="variety" class="form-control">
          </div>

          <div class="form-group">
            <label for="subvariety">Subvariety</label>
            <input type="text" id="subvariety" formControlName="subvariety" class="form-control">
          </div>

          <div class="form-group">
            <label for="hybridStatus">Hybrid Status</label>
            <input type="text" id="hybridStatus" formControlName="hybridStatus" class="form-control">
          </div>

          <div class="form-group">
            <label for="imgURL">Image URL*</label>
            <input type="text" id="imgURL" formControlName="imgURL" class="form-control" #imgURL>
          </div>
          </div>

          <div class="col-md-4">
            <h3 style="text-align: center;">Image Preview:</h3>
            <img [src]="imgURL.value" class="img-responsive" style="background-size: contain;">
          </div>
        </div>



      <!-- Additional form fields -->
      <div class="row">

      </div>
      <hr>

      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-seedstory btn-block">Add a Story</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-seedstory btn-block disabled">Add an Instance</button>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-md-2">
          <button type="submit" class="btn btn-success btn-block" (click)="onSubmit()">Submit</button>
        </div>
      </div>

      <hr>

    </div>
</div>

<!-- <div *ngif="false">
  <div class="form-group">
              <label for="storyTags">Story Tags</label>
              <input type="text" id="storyTags" formControlName="storyTags" class="form-control">
            </div>

            <div class="form-group">
              <label for="storyText">Story Text</label>
              <input type="text" id="storyText" formControlName="storyText" class="form-control">
            </div>
          </div> -->
